@media screen and (max-width: 576px) {
  /* generals */

  header {
    margin-bottom: 65px;
    justify-items: center;
  }
  body {
    justify-items: center;
  }

  .btn {
    padding: 19px 33px;
  }

  .fc4 {
    display: none;
  }
  .fc5 {
    display: none;
  }

  .mobile-hide-br {
    display: none;
  }

  /* navbar related styles */
  .navbar {
    gap: 150px;
    margin-bottom: 28px;
  }
  .banner {
    display: flex;
    flex-direction: column-reverse;
  }

  /* banner related styles */
  .banner-text {
    padding: 20px;
  }
  .banner-description {
    margin-top: 15px;
  }

  /* our plants related styles */
  .plants {
    margin-bottom: 40px;
  }

  .plants-title {
    margin-bottom: 16px;
  }
  .plants-description {
    padding-left: 30px;
    padding-right: 30px;
  }
  .plant-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    padding: 20px;
  }
  /* latest deal related styles */
  .latest-deal-title {
    margin-bottom: 16px;
  }

  .latest-deal-description {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
  }

  .latest-deal-texts {
    margin-bottom: 50px;
  }

  .deal-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    height: 580px;
    margin-bottom: 40px;
  }

  .deal-box1,
  .deal-box2,
  .deal-box3 {
    grid-column: auto;
    grid-row: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .deal-box2 {
    border-radius: 0;
  }
  .deal-box1 {
    border-radius: 14px;
  }
  .deal-box3 {
    border-radius: 14px;
  }

  /* footer related styles */

  .footer-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    width: 100% - calc(40px);
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
