/* border and width */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 2px solid red; */
  max-width: 1440px;
  justify-items: center;
}
body {
  /* border: 2px dashed blue; */
  max-width: 1140px;
  justify-items: center;
}
header {
  /* border: 2px solid blueviolet; */
  margin-top: 25px;
  margin-bottom: 115px;
}
.flex {
  display: flex;
}

/* navbar related styles */
.navbar {
  gap: 590px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
.menu {
  justify-content: space-between;
  gap: 50px;
  list-style: none;
}

.nav-img img {
  width: 100%;
}

/* banner related styles */

.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.banner-description {
  margin-top: 60px;
}

.banner-img img {
  width: 100%;
}
