/* border and width */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 2px solid red; */
  max-width: 1440px;
  justify-items: center;
}
body {
  /* border: 2px dashed blue; */
  max-width: 1140px;
  justify-items: center;
}
header {
  /* border: 2px solid blueviolet; */
  margin-top: 25px;
  margin-bottom: 115px;
}

/* flex and button */
.flex {
  display: flex;
}

.btn {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(233, 90, 8, 1);
  border: none;
  padding: 19px 80px;
}

/* navbar related styles */
.navbar {
  gap: 590px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
.menu {
  justify-content: space-between;
  gap: 50px;
  list-style: none;
}

.nav-img img {
  width: 100%;
}

/* banner related styles */

.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.banner-description {
  margin-top: 60px;
}

.banner-img img {
  width: 100%;
}

/* our plants related styles*/
.plant-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
}

.plants-description {
  text-align: center;
}

.our-plants {
  margin-bottom: 50px;
}

.plant-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.plant-card img {
  width: 100%;
}

.no-gap p {
  margin-bottom: 0;
}

.no-gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
